$light-theme: ( 'background': #00AEF3, 'color': black );
$dark-theme: ( 'background': #4B4EEE, 'color': #1A1A1A );

$header-second-color: black;

body > header {
	color: map.get($light-theme, 'color');
	background: map.get($light-theme, 'background');

	h1 {
		margin: 0;
	}

	h2 {
		color: $header-second-color;
	}
}

body > nav:not([hidden]) {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;

	> *:not([hidden]) {
		display: block;
	}
}

@supports (background: light-dark(#457B9D, #E1F53A)) {
	body > header {
		background: light-dark(map.get($light-theme, 'background'), map.get($dark-theme, 'background'));
		color: light-dark(map.get($light-theme, 'color'), map.get($dark-theme, 'color'));
	}
}

@media (prefers-color-scheme: dark) {
	body > header {
		background: map.get($dark-theme, 'background');
		color: map.get($dark-theme, 'color');
	}
}
