@use 'sass:map';

$light-theme: ( 'html': whitesmoke, 'background': #F1F1F2, 'color': #293241, 'link': #4B4EEE );
$dark-theme: ( 'html': black, 'background': #1A1A1A, 'color': #FDFDFD, 'link': #4B4EEE );

* { box-sizing: border-box; }

:root { font-family: 'Trebuchet MS', 'Open Sans', 'Helvetica Neue', sans-serif; }

html {
	height: 100%;
	width: 100%;
	background: map.get($light-theme, 'html');
}

body {
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	min-height: 100%;
	background: map.get($light-theme, 'background');
	border: 0 none;

	@media (min-width: 1201px) {
		border: solid black;
		border-width: 0 1px;
	}

	> * {
		padding: 5px calc(5px * 2.5);
	}

	> #y-spinner,
	> main {
		flex-grow: 1;
	}

	> nav {
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			flex-flow: column wrap;
		}

		details > ul {
			margin-left: 1rem;
			margin-top: 0.5rem;
			list-style: disc;
			padding-left: 1rem;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a:link,
a:visited {
	color: map.get($light-theme, 'link');
}

details > summary {
	cursor: pointer;
}

#y-spinner {
	font-size: 2rem;
	text-align: center;

	svg {
		display: block;
		margin: 20vh auto 0;
		max-width: 150px;
	}

	svg * {
		stroke-linejoin: round;
		stroke-linecap: round;
	}

	path {
		fill: none;
		stroke: black;
		stroke-width: 10px;
		opacity: 0.5;

		&:nth-of-type(odd) {
			animation: 2s linear infinite rotate;
			stroke: red;
		}

		&:nth-of-type(even) {
			animation: 3s linear infinite reverse rotate;
			stroke: gold;
		}
	}

	@keyframes rotate {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	~ nav[y-component="topNav"] {
		display: none;
	}
}

@supports (background: light-dark(#F1F1F2, #1A1A1A)) {
	html {
		background: light-dark(map.get($light-theme, 'html'), map.get($dark-theme, 'html'));
	}

	body {
		background: light-dark(map.get($light-theme, 'background'), map.get($dark-theme, 'background'));
		color: light-dark(map.get($light-theme, 'color'), map.get($dark-theme, 'color'));
	}

	a:link,
	a:visited {
		color: light-dark(map.get($light-theme, 'link'), map.get($dark-theme, 'link'));
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background: map.get($dark-theme, 'html');
	}

	body {
		background: map.get($dark-theme, 'background');
		color: map.get($dark-theme, 'color');
	}

	a:link,
	a:visited {
		color: map.get($dark-theme, 'link');
	}
}
